services:
	- PHPat\Test\TestExtractor
	- PHPat\Test\TestParser
	- PHPat\Statement\Builder\StatementBuilderFactory
	- PHPat\Configuration(tests: %phpat.tests%)

	# DEPENDENCY RULES
	-
		class: PHPat\Rule\Assertion\Dependency\MustNotDepend\NewRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPat\Rule\Assertion\Dependency\MustNotDepend\MethodParamRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPat\Rule\Assertion\Dependency\MustNotDepend\ClassConstantRule
		tags:
			- phpstan.rules.rule

	-
		class: PHPat\Rule\Assertion\VarDump
		tags:
			- phpstan.rules.rule

parametersSchema:
	phpat: structure([
		tests: listOf(string())
	])
