services:
	- PhpAT\Test\TestParser
	- PhpAT\Statement\Builder\StatementBuilderFactory

	# DEPENDENCY RULES
	-
		class: PhpAT\Rule\Assertion\Dependency\MustNotDepend\NewRule
		tags:
			- phpstan.rules.rule
	-
		class: PhpAT\Rule\Assertion\Dependency\MustNotDepend\MethodParamRule
		tags:
			- phpstan.rules.rule
	-
		class: PhpAT\Rule\Assertion\Dependency\MustNotDepend\ClassConstantRule
		tags:
			- phpstan.rules.rule

	-
		class: PhpAT\Rule\Assertion\VarDump
		tags:
			- phpstan.rules.rule
