includes:
	- ../extension.neon

parameters:
    level: 8
    paths:
        - ../src
        - ../tests/architecture
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: "#no value type specified in iterable type array\\.$#"
            path: *
    phpat:
        ignore_built_in_classes: false
        show_rule_names: true

services:
    -
        class: Tests\PHPat\architecture\ConfigurationTest
        tags:
            - phpat.test
    -
        class: Tests\PHPat\architecture\AssertionTest
        tags:
            - phpat.test
    -
        class: Tests\PHPat\architecture\CleanClassesTest
        tags:
            - phpat.test
