parameters:
    level: 8
    paths:
        - ../src
        - ../tests/unit/rules
    ignoreErrors:
        -
            message: "#no value type specified in iterable type array\\.$#"
            path: *
