includes:
	- ../extension.neon

parameters:
    level: 1
    paths:
        - ../src
        - ../tests/fixtures
    phpat:
        ignore_doc_comments: true
        tests:
            - Tests\PHPat\architecture\ConfigurationTest
